.main-title {
	color: #15295b;
	font-weight: 400;
	font-size: 25px;
	text-align: center;
	width: 300px;
	font-family: 'SF Pro Display';
}

.main-span__out-title {
	font-weight: 700;
}

.main-text {
	font-size: 10px;
	color: #1f1f1fb2;
	text-align: center;
	width: 240px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.text-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.button-blue {
	position: relative;
	z-index: 1;
	width: 200px;
	height: 50px;
	border-radius: 50px;
	background: #203351;
	color: white;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	line-height: 50px;
}

/* Псевдоэлемент ::after */
.button-blue::after {
	content: '';
	position: absolute;
	bottom: -20px;
	left: 50%;
	transform: translateX(-50%);
	width: 185px;
	height: 55px;
	background: rgba(32, 51, 81, 0.5);
	border-radius: 20px;
	filter: blur(20px);
	z-index: 0;
}

.main-button__text {
	color: #fff;
	font-size: 12px;
}

.main-img__container {
	position: relative;
	display: flex;

	justify-content: center;
	align-items: center;
}

.white-container {
	background: #fff;
	width: 220px;
	padding-left: 5px;
	padding-right: 10px;
	height: 100px;
	border-radius: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	margin-top: 120px;
	margin-left: 13px;
	z-index: 1;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.main-img__container img {
	width: 330px;
	height: auto;
}

.main-text__white-container {
	font-size: 9px;
}

.main-grey-span {
	font-size: 8.7px;
	color: #1f1f1f;
	font-weight: 700;
}

.main-text__white-container {
	font-size: 10px;
	font-weight: 400;
	color: #1f1f1f;
}

.main-grey-span {
	font-weight: 700;
}

.main-info-container--2 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 330px;
	height: 300px;
	border-radius: 30px;
	background: #f7f7f7;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 25px;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
}

.main-cobtainer__two-blocks {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.main-cobtainer__two-blocks__button,
.main-cobtainer__two-blocks__button--2 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
}

.main-cobtainer__two-blocks__button--2 {
	margin-top: 30px;
}

.main-title__h2 {
	text-align: center;

	color: #15295b;
	font-weight: 700;
	margin-top: 70px;
}

.text {
	font-weight: 600;
	color: #15295b;
	margin-top: 28px;
}

.main-big-text {
	color: #1f1f1fb2;
	font-weight: 400;
	font-size: 10px;
	width: 320px;
}

.button-blue--2 {
	position: relative;
	width: 185px;
	height: 62px;
	border-radius: 36px;
	background: #203351;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-top: 15px;
}

.button-blue--2::after {
	content: '';
	position: absolute;
	bottom: -20px;
	left: 50%;
	transform: translateX(-50%);
	width: 185px;
	height: 55px;
	background: rgba(32, 51, 81, 0.5);
	border-radius: 20px;
	filter: blur(10px);
	z-index: 0;
}

.button-blue--3 {
	position: relative;
	width: 240px;
	height: 82px;
	border-radius: 50px;
	background: #203351;
	z-index: 1;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-top: 15px;
}

.button-blue--3::after {
	content: '';
	position: absolute;
	bottom: -20px;
	left: 60%;
	transform: translateX(-50%);
	width: 185px;
	height: 55px;
	background: rgba(32, 51, 81, 0.5);
	border-radius: 20px;
	filter: blur(15px);
	z-index: 0;
}

.step-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.text-button--2 {
	color: #ffffff;
	font-size: 11px;
}

.text-button--3 {
	color: #ffffff;
	font-size: 11px;
}

.big-blue-container {
	width: 300px;
	height: 290px;

	background: linear-gradient(to right, #233c64, #203351);

	border-radius: 30px;
	padding-right: 12px;
	padding-left: 12px;
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.video-title {
	font-size: 25px;
	color: #fff;
	text-align: center;
	margin-top: 40px;
}

.owner__big-blue {
	display: flex;
	justify-content: center;
}

.image-container {
	width: 275px;
	height: 135px;
	z-index: 10;
}

.img1 {
	display: block;
	width: 100%;
	height: auto;
}

.img2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 10%;
	height: auto;
}

.line-zigzag {
	position: absolute;
	bottom: -27px;
	right: 20px;
	width: auto;
	height: auto;
	max-width: 100%;
}

.line-zigzag::after {
	content: '';
	position: absolute;
	bottom: -27px;
	right: 20px;
	width: 6px;
	/* Диаметр точки */
	height: 6px;
	/* Диаметр точки */
	background-color: white;
	/* Цвет точки */
	border-radius: 50%;
	/* Сделать круг */
}

.text {
	padding: 0;
	margin: 0;
}

.line-zigzag2 {
	position: absolute;
	top: 90px;
	left: 0;
	max-width: 100%;
	height: auto;
	z-index: 1;
}

.line-zigzag2::before {
	content: '';
	position: absolute;
	top: 10px;
	left: 45px;
	width: 8px;
	height: 8px;
	background-color: white;
	border-radius: 50%;
	z-index: 10;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.line-zigzag2::after {
	content: '';
	position: absolute;
	top: 12px;
	left: 47px;
	width: 4px;
	height: 4px;
	background-color: #48dbb4;
	border-radius: 50%;
	z-index: 11;
}

.line-zigzag {
	position: absolute;
	bottom: -27px;
	right: 20px;
	width: auto;
	height: auto;
	max-width: 100%;
	z-index: 1;
}

.line-zigzag::before {
	content: '';
	position: absolute;
	bottom: 38px;
	/* Настройте положение относительно картинки */
	left: 25px;

	width: 8px;
	height: 8px;
	background-color: white;
	border-radius: 50%;
	z-index: 10;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.line-zigzag::after {
	content: '';
	position: absolute;
	bottom: 40px;
	left: 27px;

	width: 4px;
	height: 4px;
	background-color: #28baeb;
	border-radius: 50%;
	z-index: 11;
}

.big-blue-container__img {
	position: absolute;

	padding-bottom: 60px;
	overflow: hidden;
}

.step-container,
.main-steps__img {
	opacity: 0;
	transition: opacity 1.3s ease-out;
	/* Плавное появление за 1 секунду */
}

.step-container.show,
.main-steps__img.show {
	opacity: 1;
}

.video-container {
	position: relative;
}

.owner-video {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 30px;
	padding-top: 30px;
}

.iframe {
	border-radius: 25px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	/* Позволяет масштабировать видео, чтобы оно заполнило контейнер */
}

.iframe2 {
	border-radius: 25px;
	top: 0;
	left: 0;
	width: 100%;
	height: 135px;
}

.mobile-menu {
	margin-bottom: 100px;
}

@media (min-width: 0px) and (max-width: 900px) {
	.white-img {
		width: 70px !important;
		height: 70px !important;
	}
}

@media (min-width: 640px) and (max-width: 960px) {
	.owner-video2 {
		max-width: 555px;
		max-height: 275px;
	}

	.main-big-text {
		height: 150px;
	}

	.iframe2 {
		height: 275px;
	}

	.step-container,
	.main-steps__img {
		opacity: 0;
		transition: opacity 1.3s ease-out;
		/* Плавное появление за 1 секунду */
	}

	.step-container.show,
	.main-steps__img.show {
		opacity: 1;
	}

	.big-blue-container {
		width: 620px;
		height: 445px;
		padding-bottom: 40px;
	}

	.video-title {
		font-size: 40px;
		margin-top: 30px !important;
	}

	.line-zigzag {
		padding-bottom: 80px;
	}

	.line-zigzag2 {
		padding-left: 30px;
		padding-top: 20px;
	}

	.line-zigzag2::after {
		display: none;
	}

	.line-zigzag2::before {
		display: none;
	}

	.line-zigzag::after {
		display: none;
	}

	.line-zigzag::before {
		display: none;
	}

	.main-steps__two-container {
		justify-content: center;
		align-items: center;
		display: flex;
		gap: 20px;
	}

	.main-big-text {
		text-align: left;
		font-size: 14px;
		width: 280px;
	}

	.text {
		font-size: 28px;
		text-align: left;
		padding: 0;
		margin: 0;
		margin-bottom: 15px;
		margin-top: 15px;
	}

	.main-title__h2 {
		font-size: 38px;
		width: 300px;
		text-align: left;
	}

	.image-container {
		width: 555px;
		height: 275px;
	}

	.img-block {
		order: 0 !important;
	}

	.button-blue--2 {
		margin-bottom: 65px;
		width: 215px;
		height: 67px;
	}

	.button-blue--3 {
		width: 292px;
		height: 67px;
	}

	.step-container {
		align-items: start;
		padding-left: 10px;
	}

	.main-cobtainer__two-blocks {
		flex-wrap: nowrap;
	}

	.main-cobtainer__two-blocks__button {
		display: none;
	}

	.button-blue {
		width: 250px;
		height: 67px;
	}

	.white-container {
		margin-top: 0;
		margin-bottom: 175px;
		margin-left: 110px;
	}

	.main-cobtainer__two-blocks {
		margin-top: 40px;
	}

	.main-text {
		font-size: 16px;
		width: 470px;
	}

	.main-title {
		font-size: 40px;
		width: 570px !important;
		max-width: 570px !important;
	}

	.main-info-container--2 {
		width: 620px !important;
		height: 700px !important;
		padding-top: 10px !important;
		padding-bottom: 10px !important;
	}

	.video-container {
		max-width: 555px;
		max-height: 275px;
	}
}

.img-block {
	order: 3;
}

.map-container {
	max-width: 1400px;
	max-height: 620px;
	width: 100%;
	height: 100%;
	background: #f7f7f7;
	border-radius: 50px;
}

.map-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-map {
	display: flex;
	justify-content: center;
	align-items: center;
}
.img-map {
	max-width: 1200px;
	width: 100%;
}

.top1-list {
	margin: 50px auto;
	/* Добавляем внешние отступы сверху и снизу */
	padding: 20px;
	/* Внутренние отступы */
	display: flex;
	justify-content: center;
	align-items: flex-start;
	/* Изменяем на flex-start, если выравнивание неверное */
}

.owner-list-country {
	max-width: 1200px;
	/* Ограничиваем ширину родителя */
	width: 100%;
	/* Полная ширина */
}

// .list-country {
// 	display: grid;
// 	grid-template-columns: repeat(4, auto);
// 	/* 4 колонки */
// 	gap: 30px;
// 	list-style: none;
// 	padding: 0;
// 	margin: 0;
// }

.top1-list__title {
	font-size: clamp(14px, 3rem, 45px);
	color: #15295b;
	font-weight: 700;
	max-width: 620px;
	width: 100%;
	padding-bottom: 30px;
}

.link-country {
	font-size: 12px;
	color: #b0b0b0;
}

.main-steps__img {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.tehnologi-text {
	margin: 0;
	padding-bottom: 15px;
}

.main-info-container--2 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 500px;
	border-radius: 30px;
	background: #f7f7f7;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 25px;
	padding-left: 10px;
	padding-right: 10px;
}

.main-absolute__img {
	overflow: hidden !important;
	left: 0;
	z-index: 0;
	max-width: 1000px;
	width: 100%;
	height: auto;
	bottom: 3%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-absolute {
	max-width: 900px;
	width: 100%;
}

.main-info-container {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.title2 {
	display: flex;
	flex-wrap: wrap;
}

@media (min-width: 961px) and (max-width: 1400px) {
	.video-container {
		max-width: 825px;
		max-height: 405px;
	}

	.owner-blue-container__title {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-left: 100px;
	}

	.iframe2 {
		height: 410px;
	}

	.image-container {
		width: 830px;
	}

	.big-left-mackbook {
		margin-bottom: 80px;
		transform: translateX(-100%);
		opacity: 0;
		animation: slideIn 1.5s ease-out forwards;
	}

	@keyframes slideIn {
		0% {
			transform: translateX(-100%);
			opacity: 0;
		}

		100% {
			transform: translateX(0);
			opacity: 1;
		}
	}

	.big-blue-container {
		width: 950px;
		height: 650px;
	}

	.video-title {
		font-size: 45px;
		width: 440px;
	}

	.main-steps__two-container {
		justify-content: center;
		align-items: center;
		display: flex;
		gap: 20px;
	}

	.text {
		font-size: 28px;
	}

	.step-container,
	.main-steps__img {
		opacity: 0;
		transition: opacity 1.3s ease-out;
		/* Плавное появление за 1 секунду */
	}

	.step-container.show,
	.main-steps__img.show {
		opacity: 1;
	}

	.step-container {
		align-items: start;
		padding-left: 10px;
	}

	.main-big-text {
		text-align: left;
		font-size: 14px;
		width: 280px;
		height: 150px;
	}

	.button-blue--2 {
		width: 215px;
		height: 67px;
		margin-bottom: 20px;
	}

	.button-blue--3 {
		width: 292px;
		height: 67px;
	}

	.main-steps__macbook {
		display: none;
	}

	.main-title__h2 {
		font-size: 38px;
		width: 685px;
	}

	.title2 {
		display: none;
	}

	.main-info-container--2 {
		width: 988px;
		height: 330px;
	}

	.main-info-container--3 {
		display: flex;
	}

	.main-cobtainer__two-blocks__button--2 {
		display: none;
	}

	.main-title {
		width: 480px;
		text-align: left;
		font-size: 45px;
	}

	.link-country {
		font-size: 18px;
		color: #b0b0b0;
	}

	.main-text {
		width: 375px;
		text-align: left;
		font-size: 16px;
	}

	.button-blue {
		width: 250px;
		height: 67px;
		margin-right: 120px;
		margin-top: 25px;
	}

	.main-button__text {
		font-size: 13px;
	}

	.white-container {
		margin-top: 0;
		margin-bottom: 175px;
		margin-left: 200px;
	}

	.link-country {
		font-size: 18px;
		color: #b0b0b0;
	}

	.main-absolute__img {
		top: 0 !important;
		bottom: 32%;
		left: 18%;
	}

	.main-steps__sections {
		margin-bottom: 80px;
	}

	.line-zigzag::before {
		width: 15px;
		height: 15px;
		left: 130px;
		bottom: 60px;
	}

	.line-zigzag::after {
		width: 6px;
		height: 6px;
		left: 135px;
		bottom: 65px;
	}

	.line-zigzag2::before,
	.line-zigzag2::after {
		display: none;
	}
}

.main-absolute__img {
	position: absolute;
	top: 45%;
}

@media (min-width: 1400px) and (max-width: 3840px) {
	.big-blue-container {
		max-width: 1360px;
		width: 100%;
		height: 770px;
	}

	.video-title {
		font-size: 56px;
		width: 760px;
	}

	.line-zigzag2 {
		left: 70px;
	}

	.line-zigzag {
		right: 30px;
	}

	.line-zigzag::before {
		width: 24px;
		height: 24px;
		left: 220px;
		bottom: 80px;
	}

	.line-zigzag::after {
		width: 10px;
		height: 10px;
		left: 227px;
		bottom: 87px;
	}

	.line-zigzag2::before {
		width: 24px;
		height: 24px;
		left: 96px;
		top: 240px;
	}

	.line-zigzag2::after {
		width: 10px;
		height: 10px;
		left: 103px;
		top: 246px;
	}

	.main-steps__two-container {
		display: flex;
		gap: 50px;
		justify-content: center;
		align-items: center;
	}

	.main-steps__two-container {
		display: flex;
		flex-wrap: wrap;
	}

	.iframe2 {
		height: 480px;
	}

	.image-container {
		width: 975px;
	}

	.title1 {
		display: none;
	}

	.step-container {
		align-items: start;
	}

	.main-big-text {
		text-align: left;
		font-size: 16px;
		width: 310px;
		height: 150px;
	}

	.text-container {
		padding-bottom: 150px !important;
	}

	.text {
		font-size: 30px;
		padding: 0;
		margin: 0;
	}

	.button-blue--2 {
		width: 230px;
		height: 70px;
		margin-bottom: 30px;
	}

	.button-blue--3 {
		width: 320px;
		height: 70px;
	}

	.video-container {
		max-width: 975px;
		max-height: 480px;
	}

	.main-title__h2 {
		width: 320px;
		font-size: 40px;
		text-align: left;
		padding-bottom: 30px;
	}

	.step2 {
		padding-bottom: 265px;
	}

	.main-big-text {
		height: 150px;
	}

	.link-country {
		font-size: 18px;
		color: #b0b0b0;
	}

	.big-left-mackbook {
		margin-bottom: 280px;
		left: 40px;
		transform: translateX(-100%);
		opacity: 0;
		animation: slideIn 1.5s ease-out forwards;
	}

	@keyframes slideIn {
		0% {
			transform: translateX(-100%);
			opacity: 0;
		}

		100% {
			transform: translateX(0);
			opacity: 1;
		}
	}

	.main-info-container--2 {
		max-width: 1360px;
		width: 100%;
		border-radius: 50px;
	}

	.main-info-container--3 {
		display: flex;
		gap: 40px;
	}

	.main-title {
		font-size: 49px;
		width: 480px;
		text-align: left;
	}

	.main-text {
		font-size: 18px;
		width: 400px;
		text-align: left;
	}

	.button-blue {
		width: 270px;
		height: 70px;
		margin-right: 130px;
	}

	.main-button__text {
		font-size: 15px;
	}

	.iframe {
		border-radius: 30px;
	}

	.main-img__container img {
		width: 700px;
	}

	.main-info-container--2 {
		margin-left: 80px;
	}

	.main-absolute__img {
		top: 0 !important;
		bottom: 20%;
		left: 39%;
	}

	.white-container {
		top: -170px;
		left: 430px;
		padding-top: 10px;
		padding-bottom: 10px;
		width: 290px !important;
		height: 130px !important;
	}

	.step-container,
	.main-steps__img {
		opacity: 0;
		transition: opacity 1.3s ease-out;
		/* Плавное появление за 1 секунду */
	}

	.step-container.show,
	.main-steps__img.show {
		opacity: 1;
	}

	.main-text__white-container,
	.main-grey-span {
		font-size: 14px;
	}

	.main-text__white-container {
		width: 160px;
	}

	.white-img {
		max-width: 130px;
		max-height: 105px;
	}
}

.continent-container {
	display: grid; /* Используем grid для расположения блоков */
	grid-template-columns: repeat(3, 1fr); /* Три колонки */
	gap: 16px; /* расстояние между блоками */
}

.continent-block {
	background-color: rgb(230, 15, 15); /* серый фон */
	padding: 12px; /* уменьшенный отступ внутри блока */
	border-radius: 20px; /* закругленные углы */
}

.list-country {
	list-style-type: none; /* убираем маркеры списка */
	padding: 0; /* убираем внутренние отступы */
}

.link-country {
	margin: 2px 0; /* уменьшенные отступы между элементами списка */
}
